/* ---------<alert>--------------------------------------------- */
#ALERT_M {
    position: fixed;
    top: -200%;
    left: 50%;
    width: 598px;
    height: 500px;
    border-radius: 15px;
    margin: 0px 0px 0px -300px;
    z-index: 100;
    background: #fdfcf8;
    transition: .3s;
    border: 1px solid rgba(0, 0, 0, .2);
  } 
/* ---------<alert>--------------------------------------------- */

/* ---------<model>--------------------------------------------- */
  #model {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: opacity .3s linear;
    background-color: #000;
  }
  .model_show {
    opacity: 0.5;
    display: block;
  }
  .model_hidden {
    opacity: 0;
    display: none;
  }
/* ---------<model>--------------------------------------------- */

/* ---------<item_button>--------------------------------------------- */
   .item {
    padding: 8px;
    width: 150px;
    height: 20px;
    font-size: 20px;
    font-family: 微軟正黑體;
    border-radius: 4px;
    border: 1px solid #28a745;
    color: #28a745;
    background-color: transparent;
    border-color: #28a745;
  }
  
  .item:hover {
    color: #fff;
    background-color:#94D3A2;
    border-color: #94D3A2;
    opacity: 0.5;
  }
  .item_lock {
    padding: 8px;
    width: 150px;
    height: 20px;
    font-size: 20px;
    font-family: 微軟正黑體;
    border-radius: 4px;
    border: 1px solid #28a745;
    color: #28a745;
    background-color: transparent;
    border-color: #28a745;
    opacity: 0.3;
  }
  .item_check{
    padding: 8px;
    width: 150px;
    height: 20px;
    font-size: 20px;
    font-family: 微軟正黑體;
    border-radius: 4px;
    border: 1px solid #28a745;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    opacity: 0.5;
  }
/* ---------<item_button>--------------------------------------------- */

/* ---------<Calendar_tool_button>--------------------------------------------- */
   .btn_s_Calendar_tool{
    padding: 8px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family: 微軟正黑體;
    border-radius: 30px;
    border: 1px solid #757575;
    color: #757575;
    background-color: transparent;
    border-color: #757575;
  }
  .btn_s_Calendar_tool:hover {
    color: #fff;
    background-color: #757575;
    border-color: #757575;
    opacity: 0.5;
  }
/* ---------<Calendar_tool_button>--------------------------------------------- */



/* ---------<Calendar_Day_button>--------------------------------------------- */
  .btn_s_Calendar{
    margin:5px;
    padding: 8px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-family: 微軟正黑體;
    border-radius: 20px;
    color: #212121;
    background-color: #fdfcf8;
  }
  .btn_s_Calendar:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
  }
  .btn_s_Calendar_header{
    margin:0px 5px 0px 5px;
    padding: 8px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-family: 微軟正黑體;
    border-radius: 20px;
    color: #212121;
    background-color: #fdfcf8;
  }
  .btn_s_Calendar_check{
    margin:0px 5px 0px 5px;
    padding: 8px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-family: 微軟正黑體;
    border-radius: 20px;
    color: #212121;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
  }
  .btn_s_Calendar_NowDay{
    margin:0px 5px 0px 5px;
    padding: 8px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-family: 微軟正黑體;
    border-radius: 20px;
    color: #ffffff;
    background-color: #4285F4;
    border-color: #4285F4;
  }
  /* ---------<Calendar_Day_button>--------------------------------------------- */