#page2 {
    margin: 0 auto;
    width: 798px;
    font-family: "標楷體";
}

td { border: 1px solid #000; }

#form_head_title {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

#form_head_p {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: none;
    font-size: 17px;
}

#Send_Data_p1:hover { background-color: #95E1D3; }

.parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
	    Float:left;

}

.child_2 { width: 50%; }

.child_3 { width: 33.3333%; }

.child_4 { width: 25%; }

.child_5 { width: 20%; }

.parent_font_first {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    display: flex;
    width: 100%;
}

.parent_font_title {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: black;
    display: flex;
    width: 100%;
}

.parent_font {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: black;
    display: flex;
    width: 100%;
}

.child_font_7 {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: black;
    width: 6.99%;
}

.child_font_15 {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: black;
    width: 14.99%;
}

.child_font_36 { width: 35.99%; }

.child_font_64 { width: 63.99%; }

.child_font_78 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: black;
    width: 77.99%;
}

.child_font_85 {
    text-align: left;
    width: 84.99%;
}

/*******************************************/

.textbox_check_on_div {
    width: 16px;
    height: 16px;
    background-color: blue;
    -webkit-print-color-adjust: exact;
}

.textbox_check_off_div {
    width: 14px;
    height: 14px;
    border: 1px solid black;
}

.circle_on_div {
    width: 14px;
    height: 14px;
    border: 1px solid blue;
    -moz-border-radius: 56px;
    -webkit-border-radius: 56px;
    border-radius: 56px;
}

.oval_on_div {
    width: 32px;
    height: 16px;
    border: 1px solid blue;
    -moz-border-radius: 32px/16px;
    -webkit-border-radius: 32px/16px;
    border-radius: 32px/16px;
}

.textbox_radio_on_div {
    width: 16px;
    height: 16px;
    background-color: blue;
    -moz-border-radius: 16px/16px;
    -webkit-border-radius: 16px/16px;
    border-radius: 16px/16px;
    -webkit-print-color-adjust: exact;
}

.textbox_radio_off_div {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    -moz-border-radius: 14px/14px;
    -webkit-border-radius: 16px/14px;
    border-radius: 14px/14px;
    -webkit-print-color-adjust: exact;
}

/**********************************/

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

.sidenav_h {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

.icon-bar {
    width: 70px;
    background-color: #555;
}

.icon-bar div {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
}

.icon-bar_h {
    width: 620px;
    background-color: #555;
    overflow: auto;
}

.icon-bar_h div {
    float: left;
    width: 50px;
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.6s ease;
    color: white;
}

.icon-bar div:hover { background-color: #000; }

#setting { background-color: #4CAF50 !important; }

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
  
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
  
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
  
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@media print {
    #page1 { display: none; }
}